* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(230, 242, 241); */
    background-color: white;
}


li, a, button {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 2rem;
}
span:first-child {
    color: rgb(0, 192, 240);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(248, 249, 250);
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.nav-list li {
    padding: 0px 20px;
    font-size: 0.75rem;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
    font-size: 1.75rem;
    padding: 0.75rem;
    border-radius: 10%;
}

.nav-list li a:hover {
    /* background-color: #3a3d3d; */
    color: red;
    text-decoration: underline;
}

section {
    /* padding: 4rem; */
    display: grid;
    grid-template-columns: [left-column-start] 1fr [right-column-start] 1fr;
    grid-template-rows: [title blurb-start] 5rem [content-start] 1fr [blurb-end] 1fr [content-end] 1fr;

    padding: 5rem;
}

.inner-section {
    display: flex;
    flex-direction: column;

    grid-row-start: content-start;
    grid-row-end: content-end;
    grid-column-start: left-column-start;
    grid-column-end: right-column-start;
}

.title {
    grid-row-start: title;
    grid-row-end: content-start;
    grid-column-start: left-column-start;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title h1 {
    text-decoration: underline;
    font-size: 5rem;
}


.blurb {
    grid-row-start: blurb-start;
    grid-row-end: blurb-end;
    grid-column-start: right-column-start;
}


.card {
    border: 2px solid black;
    padding: 5rem;

    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.heading {
    border-left: 3px solid black;
    padding: 0.5rem;
}