body {
    background-color: whitesmoke;
}

table {
    border: 10px solid darkgrey;
    background-color: white;
}

td {
    border: 1px solid black;
}

/* hello */
.scramble {
    background-color: #eee;
    width: 80%;
    
    
    border: 10px solid darkgrey; 
    letter-spacing:2pt;
}

.timer {
    text-align: center;
    font-size: 100px;
    margin-top: 0;
    border: 10px solid darkgrey;
}

.buttonToggled {
    background-color: #898787;
}

td:hover {
    background-color: #EEE;
}


.buttons {
    padding: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.scramble-text-buttons {
    border: 1px solid black;
    padding: 0.2rem;
    background-color: lightcyan;
}

.scramble-text-buttons:active {
    box-shadow: 2px 2px 5px #fc894d;
}

.modal-buttons:active {
    box-shadow: 2px 2px 5px #fc894d;
}

#confirm {
    background-color: lightgreen;
}

#close {
    background-color: lightcoral;
}

table {
    padding-left: 4px;
    padding-right: 4px;
}

.open {
    background-color: green;

}
.times-scroller {
    overflow: scroll;
    height: 180px;
    overflow-y: scroll;
    width: 175px;
}

::-webkit-scrollbar {
    display: none;
}

td {
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
}